.bkauthor {
    display: block;
    font-size: 1.41667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.8em;
    text-align: center;
    text-indent: 0
    }
.bkpub {
    display: block;
    font-size: 1.41667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7em;
    text-align: center;
    text-indent: 0
    }
.bkpub1 {
    display: block;
    font-size: 1.41667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.border-b {
    border-bottom: #000 solid 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.border-r {
    border-right: #000 solid 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.border-rb {
    border-bottom: #000 solid 1px;
    border-right: #000 solid 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.box {
    background-color: #000;
    border: #000 solid 1px;
    color: #fff;
    display: block;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1em
    }
.box1 {
    border: #000 solid 1px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 5em;
    padding-bottom: 0.4em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.4em;
    text-align: center
    }
.box2 {
    border: #000 solid 1px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 70pt;
    margin-right: 50pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    text-decoration: none
    }
.calibre10 {
    display: table-row;
    vertical-align: inherit
    }
.calibre11 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre12 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre13 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre2 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre6 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre7 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre8 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-top: 1em;
    text-indent: 0
    }
.calibre9 {
    display: table-row-group;
    vertical-align: middle
    }
.center {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.center1 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-align: center;
    text-indent: 0
    }
.chap-no {
    display: block;
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.copy {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 4em;
    text-align: left;
    text-indent: 0
    }
.copy-center {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.copy-center1 {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.copy-indent {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 4em;
    text-align: left;
    text-indent: 1.5em
    }
.copy-l {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 4em;
    text-align: left;
    text-indent: 0
    }
.extract {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.extract-indent {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 0;
    text-align: left;
    text-indent: 1.5em
    }
.extract1 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 1.5em;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.extract2 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 1.5em;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.extract3 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 4em;
    margin-right: 1.5em;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.extract4 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0.7em;
    margin-right: 1.5em;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.extractt {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 1.5em;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.figurecaption {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: left;
    text-indent: 0
    }
.figurecaption-r {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.figurecaption-r1 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.figurecaption1 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.hangindent {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.2em;
    margin-left: 4em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -3em
    }
.hangindent1 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.2em;
    margin-left: 7em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -3em
    }
.image {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.image-r {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.image1 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.indent {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 1em
    }
.indent1 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 1em
    }
.indenta {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 1em
    }
.mid {
    vertical-align: top
    }
.noindent {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.number {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.2em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1.1em
    }
.number1 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.2em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1.5em
    }
.number2 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.2em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -2em
    }
.numbert {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.2em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1em
    }
.numbert1 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.2em;
    margin-left: 4em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -2em
    }
.numberta {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1.2em;
    margin-left: 4em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -2em
    }
.scenebreak {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-before: avoid;
    text-align: center;
    text-indent: 0%
    }
.section {
    display: block;
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.section-2a {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.section-2b {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.section-2b1 {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.section-3a {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.section1 {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.section2 {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-decoration: underline;
    text-indent: 0
    }
.section3 {
    display: block;
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.section4 {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.smallcaps {
    font-size: 0.75em
    }
.smallcaps1 {
    font-size: 1em
    }
.softbreak {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    page-break-before: avoid;
    text-align: center
    }
.space {
    padding-right: 0.8em
    }
.space1 {
    padding-right: 1.1em
    }
.svg {
    height: 672px;
    width: 471px
    }
.svg1 {
    height: 620px;
    width: 363px
    }
.svg10 {
    height: 696px;
    width: 473px
    }
.svg100 {
    height: 702px;
    width: 484px
    }
.svg101 {
    height: 265px;
    width: 469px
    }
.svg102 {
    height: 479px;
    width: 463px
    }
.svg103 {
    height: 66px;
    width: 445px
    }
.svg104 {
    height: 214px;
    width: 443px
    }
.svg105 {
    height: 312px;
    width: 466px
    }
.svg106 {
    height: 279px;
    width: 463px
    }
.svg107 {
    height: 693px;
    width: 440px
    }
.svg108 {
    height: 702px;
    width: 480px
    }
.svg109 {
    height: 448px;
    width: 701px
    }
.svg11 {
    height: 696px;
    width: 478px
    }
.svg110 {
    height: 461px;
    width: 698px
    }
.svg111 {
    height: 694px;
    width: 483px
    }
.svg112 {
    height: 697px;
    width: 481px
    }
.svg113 {
    height: 703px;
    width: 484px
    }
.svg114 {
    height: 459px;
    width: 482px
    }
.svg115 {
    height: 693px;
    width: 479px
    }
.svg116 {
    height: 690px;
    width: 483px
    }
.svg117 {
    height: 205px;
    width: 350px
    }
.svg118 {
    height: 708px;
    width: 490px
    }
.svg119 {
    height: 434px;
    width: 484px
    }
.svg12 {
    height: 690px;
    width: 473px
    }
.svg120 {
    height: 693px;
    width: 480px
    }
.svg121 {
    height: 700px;
    width: 481px
    }
.svg122 {
    height: 703px;
    width: 487px
    }
.svg123 {
    height: 699px;
    width: 482px
    }
.svg124 {
    height: 701px;
    width: 483px
    }
.svg125 {
    height: 48px;
    width: 439px
    }
.svg126 {
    height: 694px;
    width: 477px
    }
.svg127 {
    height: 350px;
    width: 459px
    }
.svg128 {
    height: 330px;
    width: 465px
    }
.svg129 {
    height: 695px;
    width: 476px
    }
.svg13 {
    height: 697px;
    width: 476px
    }
.svg130 {
    height: 207px;
    width: 460px
    }
.svg131 {
    height: 608px;
    width: 470px
    }
.svg132 {
    height: 178px;
    width: 468px
    }
.svg133 {
    height: 66px;
    width: 467px
    }
.svg134 {
    height: 192px;
    width: 456px
    }
.svg135 {
    height: 173px;
    width: 466px
    }
.svg136 {
    height: 342px;
    width: 459px
    }
.svg137 {
    height: 301px;
    width: 459px
    }
.svg138 {
    height: 233px;
    width: 464px
    }
.svg139 {
    height: 701px;
    width: 486px
    }
.svg14 {
    height: 686px;
    width: 478px
    }
.svg140 {
    height: 261px;
    width: 444px
    }
.svg141 {
    height: 701px;
    width: 485px
    }
.svg142 {
    height: 691px;
    width: 459px
    }
.svg143 {
    height: 535px;
    width: 422px
    }
.svg144 {
    height: 693px;
    width: 437px
    }
.svg145 {
    height: 695px;
    width: 475px
    }
.svg146 {
    height: 691px;
    width: 477px
    }
.svg147 {
    height: 94px;
    width: 408px
    }
.svg148 {
    height: 694px;
    width: 474px
    }
.svg149 {
    height: 620px;
    width: 428px
    }
.svg15 {
    height: 678px;
    width: 471px
    }
.svg150 {
    height: 702px;
    width: 487px
    }
.svg151 {
    height: 704px;
    width: 486px
    }
.svg152 {
    height: 249px;
    width: 483px
    }
.svg153 {
    height: 224px;
    width: 448px
    }
.svg154 {
    height: 694px;
    width: 473px
    }
.svg155 {
    height: 49px;
    width: 423px
    }
.svg156 {
    height: 343px;
    width: 457px
    }
.svg157 {
    height: 59px;
    width: 458px
    }
.svg158 {
    height: 66px;
    width: 475px
    }
.svg159 {
    height: 318px;
    width: 459px
    }
.svg16 {
    height: 686px;
    width: 474px
    }
.svg160 {
    height: 212px;
    width: 474px
    }
.svg161 {
    height: 696px;
    width: 447px
    }
.svg162 {
    height: 711px;
    width: 486px
    }
.svg163 {
    height: 703px;
    width: 485px
    }
.svg164 {
    height: 460px;
    width: 485px
    }
.svg165 {
    height: 216px;
    width: 469px
    }
.svg166 {
    height: 680px;
    width: 470px
    }
.svg167 {
    height: 676px;
    width: 475px
    }
.svg168 {
    height: 146px;
    width: 449px
    }
.svg169 {
    height: 203px;
    width: 466px
    }
.svg17 {
    height: 697px;
    width: 500px
    }
.svg170 {
    height: 395px;
    width: 436px
    }
.svg171 {
    height: 699px;
    width: 485px
    }
.svg172 {
    height: 688px;
    width: 487px
    }
.svg173 {
    height: 693px;
    width: 474px
    }
.svg174 {
    height: 690px;
    width: 476px
    }
.svg175 {
    height: 696px;
    width: 477px
    }
.svg176 {
    height: 692px;
    width: 440px
    }
.svg177 {
    height: 700px;
    width: 485px
    }
.svg178 {
    height: 332px;
    width: 469px
    }
.svg179 {
    height: 699px;
    width: 487px
    }
.svg18 {
    height: 695px;
    width: 478px
    }
.svg180 {
    height: 690px;
    width: 479px
    }
.svg181 {
    height: 100px;
    width: 447px
    }
.svg182 {
    height: 662px;
    width: 468px
    }
.svg183 {
    height: 695px;
    width: 474px
    }
.svg184 {
    height: 371px;
    width: 427px
    }
.svg185 {
    height: 700px;
    width: 486px
    }
.svg186 {
    height: 697px;
    width: 477px
    }
.svg187 {
    height: 699px;
    width: 479px
    }
.svg188 {
    height: 179px;
    width: 445px
    }
.svg189 {
    height: 690px;
    width: 481px
    }
.svg19 {
    height: 694px;
    width: 476px
    }
.svg190 {
    height: 459px;
    width: 683px
    }
.svg191 {
    height: 683px;
    width: 478px
    }
.svg192 {
    height: 694px;
    width: 478px
    }
.svg193 {
    height: 685px;
    width: 454px
    }
.svg194 {
    height: 693px;
    width: 441px
    }
.svg195 {
    height: 688px;
    width: 481px
    }
.svg196 {
    height: 692px;
    width: 484px
    }
.svg197 {
    height: 699px;
    width: 490px
    }
.svg198 {
    height: 694px;
    width: 485px
    }
.svg199 {
    height: 217px;
    width: 445px
    }
.svg2 {
    height: 693px;
    width: 477px
    }
.svg20 {
    height: 93px;
    width: 405px
    }
.svg200 {
    height: 18px;
    width: 66px
    }
.svg201 {
    height: 156px;
    width: 459px
    }
.svg202 {
    height: 452px;
    width: 471px
    }
.svg203 {
    height: 426px;
    width: 465px
    }
.svg204 {
    height: 96px;
    width: 433px
    }
.svg205 {
    height: 91px;
    width: 462px
    }
.svg206 {
    height: 305px;
    width: 469px
    }
.svg207 {
    height: 27px;
    width: 59px
    }
.svg208 {
    height: 620px;
    width: 390px
    }
.svg209 {
    height: 620px;
    width: 387px
    }
.svg21 {
    height: 674px;
    width: 463px
    }
.svg210 {
    height: 620px;
    width: 389px
    }
.svg211 {
    height: 620px;
    width: 394px
    }
.svg212 {
    height: 692px;
    width: 485px
    }
.svg213 {
    height: 201px;
    width: 455px
    }
.svg214 {
    height: 687px;
    width: 474px
    }
.svg215 {
    height: 292px;
    width: 419px
    }
.svg216 {
    height: 502px;
    width: 484px
    }
.svg217 {
    height: 215px;
    width: 444px
    }
.svg218 {
    height: 98px;
    width: 455px
    }
.svg219 {
    height: 370px;
    width: 458px
    }
.svg22 {
    height: 750px;
    width: 479px
    }
.svg220 {
    height: 698px;
    width: 484px
    }
.svg221 {
    height: 697px;
    width: 485px
    }
.svg222 {
    height: 699px;
    width: 486px
    }
.svg223 {
    height: 697px;
    width: 479px
    }
.svg224 {
    height: 702px;
    width: 486px
    }
.svg225 {
    height: 373px;
    width: 480px
    }
.svg226 {
    height: 214px;
    width: 434px
    }
.svg227 {
    height: 685px;
    width: 477px
    }
.svg228 {
    height: 697px;
    width: 471px
    }
.svg229 {
    height: 19px;
    width: 6px
    }
.svg23 {
    height: 701px;
    width: 481px
    }
.svg230 {
    height: 691px;
    width: 490px
    }
.svg231 {
    height: 699px;
    width: 483px
    }
.svg232 {
    height: 698px;
    width: 483px
    }
.svg233 {
    height: 696px;
    width: 488px
    }
.svg234 {
    height: 232px;
    width: 463px
    }
.svg235 {
    height: 181px;
    width: 447px
    }
.svg236 {
    height: 59px;
    width: 442px
    }
.svg237 {
    height: 315px;
    width: 470px
    }
.svg238 {
    height: 198px;
    width: 465px
    }
.svg239 {
    height: 349px;
    width: 416px
    }
.svg24 {
    height: 699px;
    width: 481px
    }
.svg240 {
    height: 702px;
    width: 490px
    }
.svg241 {
    height: 207px;
    width: 464px
    }
.svg242 {
    height: 604px;
    width: 451px
    }
.svg243 {
    height: 168px;
    width: 425px
    }
.svg244 {
    height: 264px;
    width: 468px
    }
.svg245 {
    height: 208px;
    width: 445px
    }
.svg246 {
    height: 678px;
    width: 463px
    }
.svg247 {
    height: 693px;
    width: 487px
    }
.svg248 {
    height: 698px;
    width: 487px
    }
.svg249 {
    height: 694px;
    width: 484px
    }
.svg25 {
    height: 358px;
    width: 699px
    }
.svg250 {
    height: 689px;
    width: 479px
    }
.svg251 {
    height: 688px;
    width: 480px
    }
.svg252 {
    height: 693px;
    width: 475px
    }
.svg253 {
    height: 696px;
    width: 486px
    }
.svg254 {
    height: 704px;
    width: 485px
    }
.svg255 {
    height: 692px;
    width: 495px
    }
.svg256 {
    height: 67px;
    width: 454px
    }
.svg257 {
    height: 361px;
    width: 458px
    }
.svg258 {
    height: 215px;
    width: 445px
    }
.svg259 {
    height: 210px;
    width: 418px
    }
.svg26 {
    height: 701px;
    width: 480px
    }
.svg260 {
    height: 469px;
    width: 691px
    }
.svg261 {
    height: 102px;
    width: 435px
    }
.svg262 {
    height: 691px;
    width: 480px
    }
.svg263 {
    height: 703px;
    width: 470px
    }
.svg264 {
    height: 704px;
    width: 483px
    }
.svg265 {
    height: 704px;
    width: 487px
    }
.svg266 {
    height: 702px;
    width: 485px
    }
.svg267 {
    height: 438px;
    width: 686px
    }
.svg268 {
    height: 705px;
    width: 486px
    }
.svg269 {
    height: 628px;
    width: 447px
    }
.svg27 {
    height: 444px;
    width: 701px
    }
.svg270 {
    height: 26px;
    width: 382px
    }
.svg271 {
    height: 178px;
    width: 443px
    }
.svg272 {
    height: 60px;
    width: 453px
    }
.svg273 {
    height: 295px;
    width: 459px
    }
.svg274 {
    height: 230px;
    width: 434px
    }
.svg275 {
    height: 151px;
    width: 454px
    }
.svg276 {
    height: 696px;
    width: 451px
    }
.svg277 {
    height: 321px;
    width: 453px
    }
.svg278 {
    height: 71px;
    width: 443px
    }
.svg279 {
    height: 450px;
    width: 450px
    }
.svg28 {
    height: 34px;
    width: 447px
    }
.svg280 {
    height: 141px;
    width: 440px
    }
.svg281 {
    height: 108px;
    width: 470px
    }
.svg282 {
    height: 681px;
    width: 483px
    }
.svg283 {
    height: 268px;
    width: 336px
    }
.svg284 {
    height: 353px;
    width: 366px
    }
.svg285 {
    height: 696px;
    width: 485px
    }
.svg286 {
    height: 689px;
    width: 480px
    }
.svg287 {
    height: 64px;
    width: 441px
    }
.svg288 {
    height: 158px;
    width: 420px
    }
.svg289 {
    height: 703px;
    width: 455px
    }
.svg29 {
    height: 239px;
    width: 444px
    }
.svg290 {
    height: 316px;
    width: 473px
    }
.svg291 {
    height: 46px;
    width: 269px
    }
.svg292 {
    height: 160px;
    width: 469px
    }
.svg293 {
    height: 374px;
    width: 469px
    }
.svg294 {
    height: 118px;
    width: 431px
    }
.svg295 {
    height: 695px;
    width: 459px
    }
.svg296 {
    height: 689px;
    width: 483px
    }
.svg297 {
    height: 689px;
    width: 487px
    }
.svg298 {
    height: 628px;
    width: 488px
    }
.svg3 {
    height: 89px;
    width: 274px
    }
.svg30 {
    height: 47px;
    width: 367px
    }
.svg31 {
    height: 20px;
    width: 20px
    }
.svg32 {
    height: 663px;
    width: 454px
    }
.svg33 {
    height: 456px;
    width: 779px
    }
.svg34 {
    height: 520px;
    width: 465px
    }
.svg35 {
    height: 693px;
    width: 478px
    }
.svg36 {
    height: 699px;
    width: 480px
    }
.svg37 {
    height: 17px;
    width: 16px
    }
.svg38 {
    height: 21px;
    width: 19px
    }
.svg39 {
    height: 15px;
    width: 15px
    }
.svg4 {
    height: 690px;
    width: 478px
    }
.svg40 {
    height: 21px;
    width: 20px
    }
.svg41 {
    height: 17px;
    width: 17px
    }
.svg42 {
    height: 16px;
    width: 29px
    }
.svg43 {
    height: 698px;
    width: 480px
    }
.svg44 {
    height: 700px;
    width: 480px
    }
.svg45 {
    height: 703px;
    width: 483px
    }
.svg46 {
    height: 702px;
    width: 479px
    }
.svg47 {
    height: 704px;
    width: 482px
    }
.svg48 {
    height: 706px;
    width: 487px
    }
.svg49 {
    height: 688px;
    width: 475px
    }
.svg5 {
    height: 698px;
    width: 479px
    }
.svg50 {
    height: 224px;
    width: 469px
    }
.svg51 {
    height: 314px;
    width: 459px
    }
.svg52 {
    height: 184px;
    width: 464px
    }
.svg53 {
    height: 702px;
    width: 481px
    }
.svg54 {
    height: 248px;
    width: 457px
    }
.svg55 {
    height: 703px;
    width: 482px
    }
.svg56 {
    height: 267px;
    width: 460px
    }
.svg57 {
    height: 702px;
    width: 482px
    }
.svg58 {
    height: 700px;
    width: 484px
    }
.svg59 {
    height: 47px;
    width: 455px
    }
.svg6 {
    height: 696px;
    width: 480px
    }
.svg60 {
    height: 699px;
    width: 484px
    }
.svg61 {
    height: 688px;
    width: 460px
    }
.svg62 {
    height: 696px;
    width: 481px
    }
.svg63 {
    height: 305px;
    width: 457px
    }
.svg64 {
    height: 395px;
    width: 717px
    }
.svg65 {
    height: 685px;
    width: 427px
    }
.svg66 {
    height: 700px;
    width: 489px
    }
.svg67 {
    height: 693px;
    width: 447px
    }
.svg68 {
    height: 338px;
    width: 378px
    }
.svg69 {
    height: 424px;
    width: 698px
    }
.svg7 {
    height: 694px;
    width: 481px
    }
.svg70 {
    height: 692px;
    width: 474px
    }
.svg71 {
    height: 694px;
    width: 479px
    }
.svg72 {
    height: 124px;
    width: 449px
    }
.svg73 {
    height: 144px;
    width: 437px
    }
.svg74 {
    height: 389px;
    width: 395px
    }
.svg75 {
    height: 280px;
    width: 461px
    }
.svg76 {
    height: 690px;
    width: 474px
    }
.svg77 {
    height: 678px;
    width: 434px
    }
.svg78 {
    height: 702px;
    width: 483px
    }
.svg79 {
    height: 701px;
    width: 479px
    }
.svg8 {
    height: 690px;
    width: 484px
    }
.svg80 {
    height: 700px;
    width: 478px
    }
.svg81 {
    height: 700px;
    width: 482px
    }
.svg82 {
    height: 701px;
    width: 482px
    }
.svg83 {
    height: 216px;
    width: 479px
    }
.svg84 {
    height: 369px;
    width: 453px
    }
.svg85 {
    height: 698px;
    width: 486px
    }
.svg86 {
    height: 696px;
    width: 475px
    }
.svg87 {
    height: 202px;
    width: 455px
    }
.svg88 {
    height: 586px;
    width: 452px
    }
.svg89 {
    height: 701px;
    width: 484px
    }
.svg9 {
    height: 695px;
    width: 477px
    }
.svg90 {
    height: 235px;
    width: 454px
    }
.svg91 {
    height: 700px;
    width: 496px
    }
.svg92 {
    height: 198px;
    width: 454px
    }
.svg93 {
    height: 692px;
    width: 475px
    }
.svg94 {
    height: 306px;
    width: 472px
    }
.svg95 {
    height: 675px;
    width: 474px
    }
.svg96 {
    height: 706px;
    width: 484px
    }
.svg97 {
    height: 703px;
    width: 480px
    }
.svg98 {
    height: 700px;
    width: 483px
    }
.svg99 {
    height: 700px;
    width: 479px
    }
.t {
    border: solid 0.1em #000;
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 1em;
    margin-left: 0;
    margin-top: 1em;
    text-indent: 0
    }
.t1 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 1em;
    margin-left: 0.8em;
    margin-top: 1em;
    text-indent: 0
    }
.t2 {
    border: solid 0.1em #000;
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 1em;
    text-indent: 0
    }
.table-caption {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.table-caption1 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right;
    text-indent: 0
    }
.title {
    display: block;
    font-family: serif;
    font-size: 1.83333em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.5em;
    text-align: center;
    text-indent: 0
    }
.titlea {
    display: block;
    font-family: serif;
    font-size: 1.41667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.toc {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.toc1 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 8.5em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 3%
    }
.toc2 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 8.7em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 3%
    }
.toc2a {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 8.7em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 3%
    }
.toca {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.underline {
    text-decoration: underline
    }
