@page {
    margin-bottom: 50pt;
    margin-top: 50pt
    }
@font-face {
    font-family: "TimesNewRoman";
    font-style: normal;
    font-weight: normal;
    src: url(fonts/00001.ttf)
    }
@font-face {
    font-family: "TimesNewRoman";
    font-style: normal;
    font-weight: bold;
    src: url(fonts/00002.ttf)
    }
@font-face {
    font-family: "TimesNewRoman";
    font-style: italic;
    font-weight: normal;
    src: url(fonts/00003.ttf)
    }
@font-face {
    font-family: "TimesNewRoman";
    font-style: italic;
    font-weight: bold;
    src: url(fonts/00004.ttf)
    }
@font-face {
    font-family: "Deja";
    src: url(fonts/00005.ttf);
    font-style: normal;
    font-weight: normal
    }
@font-face {
    font-family: "Deja";
    src: url(fonts/00006.ttf);
    font-style: normal;
    font-weight: bold
    }
@font-face {
    font-family: "Deja";
    src: url(fonts/00007.ttf);
    font-style: italic;
    font-weight: normal
    }
@font-face {
    font-family: "Deja";
    src: url(fonts/00008.ttf);
    font-style: italic;
    font-weight: bold
    }
